/* weather section */
.daily {
	border:1px solid white;
	/* margin-top: 10rem; */
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
    color: white;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
}

.weather-head-daily {
	height: 50%;
}

#icon-desc-daily {
	font-size: 4rem;
    padding-top: 0.5rem;
    /* padding-left: 0.5rem; */
    padding-bottom: 2rem;
}

.humidity-daily, .wind-daily {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-size: 1.5rem;
}

#description-daily {
	font-size: 2rem;
}

#temperature-daily {
	font-size: 5rem;
}

#icon-thermometer-daily {
	font-size: 4rem;
}

#humidity-daily, #wind-daily {
	font-size: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.temp {
    border-top: 1px solid white;
	/* border-bottom: 1px solid white; */
}

hr.one {
    border: none;
    height: 1px;
    background: #dddddd;
    width: 98%;
}