body {
  background: url('../images/w1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#button-temp, #button-presure, #button-humidity, #sv, #fv {
  opacity: 0.9;
}