/* weather section */
.weather {
	border:1px solid white;
	margin-top: 10rem;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	color: white;
}

.weather-head {
	height: 50%;
}

#icon-desc {
	font-size: 5rem;
	padding-top: 2rem;
}

/* for current forecast */
#icon-desc-current {
	font-size: 5rem;
	padding-top: 2rem;
}

.humidity, .wind, .visibility {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-size: 1.5rem;
}

#description {
	font-size: 2rem;
}

#temperature {
	font-size: 7rem;
}

/* for current temperature */
#current-temperature {
	font-size: 7rem;
}

#icon-thermometer {
	font-size: 5rem;
}

#humidity, #wind, #visibility {
	font-size: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* CSS for CHART */
div.cts {
	background-color: rgba(255, 255, 255, 0.774);
	/* border:3px solid green; */
	/* padding-top: 1rem; 
	padding-bottom: 2rem; */
}